:root {
    --background: #f3f3f3;
    --color-blanco: #ffffff;
    --bg_inputs: #f3f3f3;
    --color-azul: #0094ff;
    --hover_buttons:#0064e7;
    --color-textos: #000000;
    --box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.1);
  }